<div class="card">
  <div class="card-header bg-info">
    <h6>Registro de Empleados</h6>
  </div>
  <div class="card-body">
    <form [formGroup]="employeeForm" (ngSubmit)="formSubmit()">

      <div class="row">
        <div class="form-group col">
          <label>Departamento</label>
          <select class="form-control" name="department" formControlName="department"
            [class.is-invalid]="f['department'].invalid && f['department'].touched">
            <option value="">--- Seleccione una opción ---</option>
            <option value="Cuentas">Cuentas</option>
            <option value="Encargado">Encargado</option>
            <option value="Administrador">Administrador</option>
          </select>
        </div>

        <div class="alert alert-danger" *ngIf="f['department'].invalid && f['department'].touched">
          <div *ngIf="f['department'].errors && f['department'].errors['required']">
            El campo Departamento es obligatorio
          </div>
        </div>

        <div class="form-group col">
          <label>Nombre de empleado</label>
          <input type="text" class="form-control" name="empName" formControlName="empName"
            [class.is-invalid]="f['empName'].invalid && f['empName'].touched">
        </div>

        <div class="form-group col">
          <label>Movil</label>
          <input type="number" class="form-control" name="mobile" formControlName="mobile"
            [class.is-invalid]="f['mobile'].invalid && f['mobile'].touched">
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group col">
          <label>Genero</label>
          <select class="form-control" name="gender" formControlName="gender"
            [class.is-invalid]="f['gender'].invalid && f['gender'].touched">
            <option value="">--- Seleccione una opción ---</option>
            <option value="Hombre">Hombre</option>
            <option value="Mujer">Mujer</option>
          </select>
        </div>

        <div class="form-group col">
          <label>Fecha de inicio</label>
          <input type="date" class="form-control" name="joinDate" formControlName="joinDate"
            [class.is-invalid]="f['joinDate'].invalid && f['joinDate'].touched">
        </div>

        <div class="form-group col">
          <label>Email</label>
          <input type="email" class="form-control" name="email" formControlName="email"
            [class.is-invalid]="f['email'].invalid && f['email'].touched">
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group col">
          <label>Sueldo</label>
          <input type="number" class="form-control" name="salary" formControlName="salary"
            [class.is-invalid]="f['salary'].invalid && f['salary'].touched">
        </div>

        <div class="form-group col">
          <label>Contraseña</label>
          <input type="password" class="form-control" name="password" formControlName="password"
            [class.is-invalid]="f['password'].invalid && f['password'].touched">
        </div>

        <div class="form-group col">
          <label>Repetir contraseña</label>
          <input type="password" class="form-control" name="confirmPass" formControlName="confirmPass"
            [class.is-invalid]="f['confirmPass'].invalid && f['confirmPass'].touched">
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-12">
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="empStatus" formControlName="empStatus"
              [class.is-invalid]="f['empStatus'].invalid && f['empStatus'].touched">
            <label>Activo</label>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="form-group text-center">
          <button type="submit" class="btn btn-success me-2">Guardar</button>
          <button type="button" class="btn btn-warning me-2">Borrar</button>
          <button type="button" class="btn btn-danger">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header bg-info">
    <h6>Listado de Empleados</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table table-bordered table-responsive table-striped">
        <thead>
          <tr>
            <th>Departamento</th>
            <th>Nombre</th>
            <th>Movil</th>
            <th>Genero</th>
            <th>Fecha Inicio</th>
            <th>Email</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cuentas</td>
            <td>Javi</td>
            <td>630451263</td>
            <td>Hombre</td>
            <td>30/06/1972</td>
            <td>kk@hh.com</td>
            <td class="text-center">
              <i class="fa fa-edit text-primary me-2"></i>
              <i class="fa fa-info text-info me-2"></i>
              <i class="fa fa-trash-o text-danger"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>